<div class="row">
    <div class="col-md-6 button-container">
        <a href="https://www.facebook.com/backpacknerd" target="_blank" class="btn btn-outline-primary"><i class="bi-facebook"></i> Следвай ме във Facebook</a>
        <a href="https://www.instagram.com/backpack.nerd" target="_blank" class="btn btn-outline-primary"><i class="bi-instagram"></i> Следвай ме Instagram</a>
    </div>
</div>
