<footer class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p><a href="https://www.facebook.com/backpacknerd" target="_blank"><i class="bi-facebook"></i> Facebook страница</a></p>
                <p><a href="https://www.instagram.com/backpack.nerd/" target="_blank"><i class="bi-instagram"></i> Instagram профил</a></p>
                <a href="https://www.astom.org/bg" target="_blank">
                    <img src="{{ asset('build/images/misc/astom.png') }}" class="img-fluid astom" title="Backpack Nerd - Astom" alt="Backpack Nerd - Astom" />
                </a>
            </div>
        </div>

        <div class="dashed-inverted">&nbsp;</div>

        <div class="row">
            <div class="col-md-6">
                <p><a href="{{ path('articles_list') }}">Всички статии &raquo;</a></p>
                <p><a href="{{ path('calendar') }}">Календар &raquo;</a></p>
                <p><a href="{{ path('contacts') }}">Контакти &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <p>Сайтът е направен с любов и много крачки <i class="bi-suit-heart red"></i></p>
                <p>Дизайн и разработка: <a href="http://trayan.co.uk">Траян Иванов</a></p>
            </div>
        </div>
    </div>
</footer>
