<nav class="container d-flex justify-content-around">
    <div class="col-xs-4"><a href="{{ path('articles_list') }}">Статии</a></div>
    <div class="col-xs-4"><a href="{{ path('calendar') }}">Календар</a></div>
    <div class="col-xs-4"><a href="{{ path('contacts') }}">Контакти</a></div>
</nav>
