$body-bg: $bpn-light-grey;
$body-color: $bpn-dark-grey;
$font-family-base: 'Ossem-Rounded';

$pagination-bg: $bpn-whiteish;
$pagination-border-color: $bpn-blue;
$pagination-focus-color: $bpn-blue;
$pagination-focus-bg: $bpn-light-grey;
$pagination-focus-box-shadow: none;
$pagination-hover-color: $bpn-whiteish;
$pagination-hover-bg: $bpn-dark-grey;
$pagination-hover-border-color: $bpn-dark-grey;
$pagination-active-bg: $bpn-blue;
$pagination-disabled-color: $bpn-blue;
$pagination-disabled-bg: $bpn-light-grey;
$pagination-disabled-border-color: $bpn-blue;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.button-container {
  .btn-primary {
    @include button-variant($bpn-blue, $bpn-blue, $bpn-whiteish, $bpn-whiteish, $bpn-blue, $bpn-blue, $bpn-blue, $bpn-blue, $bpn-whiteish);
  }

  .btn-outline-primary {
    @include button-outline-variant($bpn-blue, $bpn-whiteish, $bpn-blue, $bpn-blue, $bpn-whiteish);
  }
}

@import "~simplelightbox";
