{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="dashed">&nbsp;</div>

        <div class=" d-flex flex-column align-items-center">
            <h3 class="section-title">¯\_(ツ)_/¯</h3>
            <a href="{{ path('home') }}">
                <img src="{{ asset('build/images/og.jpg') }}" class="img-fluid rounded" title="Backpack Nerd" alt="Backpack Nerd" />
            </a>
        </div>

        <br><br><br>

        <div class="dashed">&nbsp;</div>
    </div>
{% endblock %}